microservices/scavenger-microservice/src/main/resources/webroot/bower_components
microservices/scavenger-microservice/src/main/resources/webroot/build
microservices/scavenger-microservice/src/main/resources/webroot/node_modules
